body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.main {
    background-image: url(https://i.imgur.com/uGYyewe.png);
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.return {
    height: 50px;
    max-width: 300px;
}

button {
    width: 100%;
    max-width: 300px;
    height: 150px;
    opacity: 0.9;
}
.container {
    display: grid; /* Использование грид контейнера */
    grid-template-columns: 1fr 1fr; /* Два столбца равной ширины */
    grid-gap: 10px; /* Расстояние между блоками */
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
  
.item {
    width: 100%; /* Ширина каждого блока */
}
table, td, th {
    border-collapse: collapse;
    border: 3px solid black;
}

td, th {
    /* делаем отступ в ячейках, выставляем выравнивание текста */
    padding: 10px 20px;
    text-align: center;
}