.monday {
    background-color: #808080;
}
.tuesday {
    background-color: #add8e6;
}
.wednesday {
    background-color: #6b8e23;
}
.thursday {
    background-color: #e6e6fa;
}
.friday {
    background-color: #ffb6c1;
}
.saturday {
    background-color: #ffffe0;
}